<div class="footer" *ngIf="!mobile">
    <img src="assets/images/logo.webp" alt="" class="icon">

<div class="maps">
    <app-angular-google-maps></app-angular-google-maps>
</div>

<div class="enderecos">
    <div class="ruas">
        <img src="assets/images/PointerMap.webp" alt="">
        <span>Av. Guapira, 98 - Tucuruvi - São Paulo - SP</span>
    </div>
    <div class="ruas">
        <img src="assets/images/PointerMap.webp" alt="" >
        <span>Av. Imirim, 4.388 - Imirim - São Paulo - SP</span>
    </div>
    <div class="ruas">
        <img src="assets/images/PointerMap.webp" alt="" >
        <span>Av. Gal. Ataliba Leonel, 1.570 - Santana - São Paulo - SP</span>
    </div>
    
    
</div>

<div class="Socials">
    <a href="https://www.instagram.com/imperio_motos_zn/">
        <img src="assets/images/instagram.webp" alt="" >
        <span>
            &#64;imperio_motos_zn
        </span>
    </a>
</div>
</div>
