<div class="up-Navbar">
    <div class="imagem">
        <img src="assets/images/logo.webp">
    </div>
    <div class="links">
        <ul class="nav">
            <li class="nav-item">
                <a class="teste" href="estoque">Motos</a>
            </li>
            <li class="nav-item">
                <a class="teste" href="contatos">Contatos</a>
            </li>
                
        </ul>
    </div>
</div>
<div class="busca">
    <input type="text" placeholder="Pesquise Sua Futura Moto">
    <button><img src="assets/images/pngwing.webp" alt=""></button>
</div>