@import "../../../../styles.scss";

:host {
    display: flex;
    justify-content: space-around;
    width: 1260px;
    min-height: 420px;
    max-height: 450px;
    border-radius: 5px;
    background-color: $Cor-Card;
    box-shadow: 3px 3px 3px 0px rgba(9, 0, 0, 0.62);
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 15px;
    span {
        text-align: center;
        font-size: 1rem;
    }

    .bold {
        font-weight: bold;
    }

    .title {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .mid {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 5px;

        .info {
            display: grid; 
            grid-template-columns: repeat(3, 1fr); 
            grid-gap: 30px;
            margin-top: 10px;

            .item {
                text-align: center;
                box-sizing: border-box;
                padding: 10px;
                margin: 0 auto;
            }
        }
    }

    .rigth {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    
}

