<div class="left">


    <div class="title">
        <h1 class="bold">{{modelo}}</h1>
        <h4>{{marca}}</h4>
    </div>

    <div class="mid">
        <div class="info">
            <div class="item">
                <span class="bold" >Ano:</span>
                <br>
                <span>{{ano}}</span>
            </div>
            <div class="item">
                <span class="bold" >Km:</span>
                <br>
                <span>{{formatNumber(km)}}</span>
            </div>
            <div class="item">
                <span class="bold" >Cor:</span>
                <br>
                <span >{{cor}}</span>
            </div>
            <div class="item">
                <span class="bold" >Placa:</span>
                <br>
                <span >{{placa}}</span>
            </div>
            <div class="item">
                <span class="bold">Combustível:</span>
                <br>
                <span style="display: flex; justify-content: center;">{{combustivel}}</span>
            </div>
        </div>

    </div>
</div>
<div class="rigth">
    <div class="card">
        <div class="content">
            <h3 class="bold">R$ {{formatNumber(preco)}}</h3>
            <div class="banner">
                <span class="bold-banner">Entre em Contato</span>
            </div>
            <div class="contato">
                <img src="assets/images/WhatsApp.webp" alt="" class="image">
                <span class="bold-card" style="margin-left: 10px;">{{numero[0]}}</span>
            </div>
            <div class="contato">
                <img src="assets/images/phone-call.webp" alt="" class="image">
                <span class="bold-card" style="margin-left: 10px;">{{numero[1]}}</span>
            </div>
            <div class="loja" >
                <img src="assets/images/PointerMap.webp" alt="" class="image">
                <span class="bold-card" style="margin-left: 10px;">Nossa loja</span>
            </div>
        </div>
    </div>
</div>
