<div class="left">


    <div class="title">
        <h1 class="bold">Nmax</h1>
        <h4>Yamaha</h4>
    </div>

    <div class="mid">
        <div class="info">
            <div class="item">
                <span class="bold" >Ano:</span>
                <br>
                <span>2019</span>
            </div>
            <div class="item">
                <span class="bold" >Km:</span>
                <br>
                <span >32.000</span>
            </div>
            <div class="item">
                <span class="bold" >Cor:</span>
                <br>
                <span >Branco</span>
            </div>
            <div class="item">
                <span class="bold" >Placa:</span>
                <br>
                <span >xxx-xxx1</span>
            </div>
            <div class="item">
                <span class="bold">Combustível:</span>
                <br>
                <span style="display: flex; justify-content: center;">Flex</span>
            </div>
        </div>

    </div>
</div>
<div class="rigth">
    <app-contatos-motos></app-contatos-motos>
</div>
