<div class="title">
    <h1 class="bold">Nmax</h1>
    <h4>Yamaha</h4>
</div>

<div class="mid">
    <div class="info">
        <div class="item">
            <span class="bold" >Ano:</span>
            <span style="margin-left: 5px;">2019</span>
        </div>
        <div class="item">
            <span class="bold" >Km:</span>
            <span style="margin-left: 5px;">32.000</span>
        </div>
        <div class="item">
            <span class="bold" >Cor:</span>
            <span style="margin-left: 5px;">Branco</span>
        </div>
        <div class="item">
            <span class="bold">Combustível:</span>
            <span style="margin-left: 5px;">Flex</span>
        </div>
        <div class="item">
            <span class="bold" >Placa:</span>
            <span style="margin-left: 5px;">xxx-xxx1</span>
        </div>
    </div>
    <div class="card">
        <div class="content">
            <h1 class="bold">R$ 13.000</h1>
            <div class="banner">
                <span class="bold" style="color: aliceblue;">Entre em Contato</span>
            </div>
            <div class="contato">
                <img src="assets/images/WhatsApp.png" alt="" style="width: 25px;"><span style="margin: 0 auto;">(11) 94702-5724</span>
            </div>
            <div class="contato">
                <img src="assets/images/WhatsApp.png" alt="" style="width: 25px;"><span style="margin: 0 auto;">(11) 94038-3975</span>
            </div>
            <div class="contato">
                <img src="assets/images/phone-call.png" alt="" style="width: 25px; "><span style="margin: 0 auto;">(11) 94025-0807</span>
            </div>
            <div class="loja" style="margin-top: 20px;">
                <img src="assets/images/PointerMap.png" alt="" style="width: 25px;"><span class="bold" style=" margin-left: 5px; margin: 0 auto;">Nossa loja</span>
            </div>
        </div>
    </div>
</div>

