@import '../../../styles.scss';

:host{
    display: flex;
    flex-direction: column;
    background-color: $Cor-Principal;
    width: 100%;
   
    
    .card{
        display: flex;
        width: 90%;
        min-height: 900px;
        background-color: $Cor-Card;
        margin: 0 auto;
        margin-top: 15px;
        border-radius: 15px;
        border: solid 1px black;
        box-shadow: 1px 2px 2px 0px rgba(9, 0, 0, 0.62);
        overflow: hidden;
        h4{
            margin: 0 auto;
            margin-top: 15px;
            font-weight: bold;
        }

       .lojas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        width: 100%;
        min-height: 250px;
        max-height: 600px;
        margin: auto 0;
        margin-top: 30px;
       }

       app-angular-google-maps{
        margin-top: 20px;
        height: 500px;
        width: 100%;
       }
    }
}

@media (max-width: 450px) {

    .lojas{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    app-angular-google-maps{
        height: 100px;
       }
}