<app-navbar></app-navbar>

<div class="card">
    <h4>Contatos</h4>
        <div class="lojas">
            <app-lojas  Loja="Tucuruvi"
                    endereco="Av. Guapira, 98 - São Paulo - SP"
                    telefone1="(11) 2939-8645"
                    telefone2="(11) 94702-5724">
        </app-lojas>

        <app-lojas  Loja="Imirim"
                    endereco="Av. Imirim, 4.388 - São Paulo - SP"
                    telefone1="(11) 3989-5278"
                    telefone2="(11) 94702-5724">
        </app-lojas>

        <app-lojas  Loja="Santana"
                    endereco="Av. Gal. Ataliba Leonel, 1.570 - São Paulo - SP"
                    telefone1="(11) 2283-0212"
                    telefone2="(11) 94702-5724">
        </app-lojas>
    </div>
    <app-angular-google-maps></app-angular-google-maps>
</div>