<h5>Loja - {{Loja}}</h5>
<div class="endereco">
    <span class="bold">Endereço :</span>
    <span>{{endereco}}</span>
</div>
<div class="Telefone">
    <span class="bold">Telefone :</span>
    <img src="assets/images/phone-call.webp" alt="">
    <span>{{telefone1}}</span>
    <img src="assets/images/WhatsApp.webp" alt="">
    <span>{{telefone2}}</span>
</div>
<div class="email">
    <span class="bold">Email:</span>
    <span style="font-weight: bold;">rodrigoquatrini&#64;imperiomotoszn.com</span>
</div>
