<app-navbar></app-navbar>

<div class="content">
    <app-filtro></app-filtro>
    <div class="anuncios">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </div>
</div>

<div class="carregar" [class.active]="isActive" (click)="activateLoading()">
    Carregar Mais
  </div>
  

<app-footer></app-footer>