<app-navbar></app-navbar>

<button *ngIf="mobile" (click)="openDialog()">Filtros</button>

<div class="content" >
    <app-filtro *ngIf="!mobile" (filterData)="onParametersReceived($event)" ></app-filtro>
    <div class="anuncios">
        <div *ngFor="let moto of Motos">
            
                <app-card 
                routerLink ="/motos/{{moto.idMoto}}"
                [Img]="moto.url[0]"  
                [Model]="moto.model"
                [Brand]="moto.motoBrand"
                [Km]="moto.km"
                [Age]="moto.age"
                [Price]="moto.price">
                </app-card>
            
        </div>
    </div>
</div>

<div class="carregar" *ngIf="errorCode === undefined || errorCode === 200" [class.active]="isActive" (click)="activateLoading()">
    Carregar Mais
</div>
  
<app-footer></app-footer>