<div class="top">
    <div class="title">
        <p class="bold" style="font-size: 2rem;">Nmax</p>
        <p style="font-size: 1.2rem;">Yamaha</p>
    </div>
    <div class="preco">
        <h6 class="price">R$ 13.000</h6>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <span class="bold">Ano :</span> 
        <p>2019</p>
    </div>
    <div class="grid-item">
        <span class="bold">Km :</span> 
        <p>13.000</p>
    </div>
    <div class="grid-item">
        <span class="bold">Cor :</span> 
        <p>Branco</p>
    </div>
    <div class="grid-item">
        <span class="bold">Combustivel :</span> 
        <p>Flex</p>
    </div>
    <div class="grid-item">
        <span class="bold">Final de Placa :</span> 
        <p>1</p>
    </div>
  </div>

<div class="divisoria"></div>

<div class="contatos">
    <div class="titulo">
        <span>Contatos</span>
    </div>

    <div class="conteudo">
        <div class="contato">
            <img src="assets/images/WhatsApp.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">(11) 94702-5724</span>
        </div>
        <div class="contato">
            <img src="assets/images/phone-call.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">(11) 94702-5724</span>
        </div>
        <div class="contato">
            <img src="assets/images/PointerMap.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">Nossa Loja</span>
        </div>
    </div>
    
</div>