<div class="top">
    <div class="title">
        <p class="bold" style="font-size: 2rem;">{{modelo}}</p>
        <p style="font-size: 1.2rem;">{{marca}}</p>
    </div>
    <div class="preco">
        <h6 class="price">{{formatNumber(preco)}}</h6>
    </div>
</div>

<div class="grid-container">
    <div class="grid-item">
        <span class="bold">Ano :</span> 
        <p>{{ano}}</p>
    </div>
    <div class="grid-item">
        <span class="bold">Km :</span> 
        <p>{{formatNumber(km)}}</p>
    </div>
    <div class="grid-item">
        <span class="bold">Cor :</span> 
        <p>{{cor}}</p>
    </div>
    <div class="grid-item">
        <span class="bold">Combustivel :</span> 
        <p>{{combustivel}}</p>
    </div>
    <div class="grid-item">
        <span class="bold">Placa :</span> 
        <p>{{placa}}</p>
    </div>
  </div>

<div class="divisoria"></div>

<div class="contatos">
    <div class="titulo">
        <span>Contatos</span>
    </div>

    <div class="conteudo">
        <div class="contato">
            <img src="assets/images/WhatsApp.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">{{numero[0]}}</span>
        </div>
        <div class="contato">
            <img src="assets/images/phone-call.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">{{numero[1]}}</span>
        </div>
        <div class="contato">
            <img src="assets/images/PointerMap.webp" style="width: 15px;">
            <span style="font-weight: bold; font-size: 0.7rem;">Nossa Loja</span>
        </div>
    </div>
    
</div>