<span class="Titulos">Marcas</span>
<div class="marcas">
    <app-card-image Image="assets/images/marcas/Bajaj.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Bmw.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Dafra.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Harley.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Honda.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Suzuki.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Triumph.webp"></app-card-image>
    <app-card-image Image="assets/images/marcas/Yamaha.webp"></app-card-image>
</div>

<span class="Titulos">Ano</span>
<div class="inputs">
    <input type="text" placeholder="1980">
    <span style="font-size: 0.7rem; margin: 0 auto; padding: 5px;">Até</span>
    <input type="text" placeholder="2024">
</div>

<span class="Titulos">Km</span>
<div class="inputs">
    <input type="text" placeholder="1.000">
    <span style="font-size: 0.7rem; margin: 0 auto; padding: 5px;">Até</span>
    <input type="text" placeholder="10.000">
</div>

<span class="Titulos">Preço</span>
<div class="inputs">
    <input type="text" placeholder="R$ 5.000">
    <span style="font-size: 0.7rem; margin: 0 auto; padding: 5px;">Até</span>
    <input type="text" placeholder="R$ 60.000">
</div>

<button class="buscar">Buscar</button>