<div class="card">
    <img src="assets/images/logo.webp" alt="">

    <mat-form-field class="inputs">
        <mat-label>Login</mat-label>
        <input matInput [(ngModel)]="user">
    </mat-form-field>
      
    <mat-form-field class="inputs">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password"/>
    </mat-form-field>
    
    <div class="buttons">
        <button class="close" (click)="Home()">Exit</button>
        <button class="enter" (click)="login()">Enter</button>
    </div>
</div>