:host{
  
  text-align: center;
 } 
  
  .tree ul {
    list-style-type: none;
    padding-left: 1em;
  }
  
  .tree ul.collapsed {
    display: none; 
  }
  
  .tree span {
    cursor: pointer; 
    display: inline-block;
  }
  
  .tree li {
    margin: 0.5em 0;
  }
  .Title{
    font-weight: bold;
    font-size: 1.3rem;
  }