<div class="tree">
    <ul>
      <li>
        <span class="Title" (click)="toggle()">Funcionarios</span> <!-- O click na main controla a visibilidade -->
        <ul [ngClass]="{ 'collapsed': isCollapsed }"> <!-- Controle de exibição com ngClass -->
          <li><span>Novo Funcionario</span></li>
            <li><span>Alterar Funcionario</span></li>
            <li><span>Listar Todos os Funcionarios</span></li>
            <li><span>Excluir</span></li>
        </ul>
      </li>
    </ul>
  </div>