<app-navbar></app-navbar>

  <div class="anuncio">
    <div *ngIf="Motos && !mobile">
      <app-images [images]="Motos.url"></app-images>  
    </div>

    <div  *ngIf="Motos && mobile">
      <app-carousel-motos [images]="Motos.url"></app-carousel-motos>
    </div>

  </div>

  <app-card-info *ngIf="!mobile && Motos"
                        [ano]="Motos.age"
                        [combustivel]="Motos.fuel"
                        [cor]="Motos.color"
                        [km]="Motos.km"
                        [marca]="Motos.motoBrand"
                        [modelo]="Motos.model"
                        [numero]="Motos.phoneNumber"
                        [placa]="Motos.plate"
                        [preco]="Motos.price"
                        ></app-card-info>


  <app-card-info-mobile *ngIf="mobile && Motos"
  [ano]="Motos.age"
  [combustivel]="Motos.fuel"
  [cor]="Motos.color"
  [km]="Motos.km"
  [marca]="Motos.motoBrand"
  [modelo]="Motos.model"
  [numero]="Motos.phoneNumber"
  [placa]="Motos.plate"
  [preco]="Motos.price">
                      </app-card-info-mobile>
