<div class="container">
    <div class="inputs">
        <app-input-adm lable="Nome"></app-input-adm>
        <app-input-adm lable="Sobrenome"></app-input-adm>
        <app-input-cargo></app-input-cargo>
        <app-input-loja></app-input-loja>
        <app-input-adm lable="Login"></app-input-adm>
        <app-password-input></app-password-input>
    </div>
    <div class="buttons">
        <button class="Cancel">Cancelar</button>
        <button class="Confirm">Criar</button>
    </div>
</div>