<div class="container">
    <div class="inputs">
        <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" >
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Sobrenome</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" >
        </mat-form-field>
        <app-input-cargo></app-input-cargo>
        <app-input-loja></app-input-loja>
        <mat-form-field class="example-full-width">
            <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi" >
        </mat-form-field>
        <app-password-input></app-password-input>
    </div>
    <div class="buttons">
        <button class="Cancel">Cancelar</button>
        <button class="Confirm">Criar</button>
    </div>
</div>