<div class="card">
    <div class="top">
        <div class="carrousel">
            <app-carousel-motos></app-carousel-motos>
            <label class="Button">
              Escolha as Imagens
              <input type="file"  multiple hidden>
          </label>
        </div>
        
        
    </div>
    <div class="bottom">
        <div class="inputs">
          <app-input-marcas></app-input-marcas>
                
          <app-input-fuel></app-input-fuel>
          
          <app-input-adm lable="Km"></app-input-adm>

          <app-input-adm lable="Modelo"></app-input-adm>
          
          <app-input-adm lable="Cor"></app-input-adm>

          <app-input-adm lable="Ano"></app-input-adm>

          <app-input-adm lable="Placa"></app-input-adm>

          <app-input-adm lable="Preço"></app-input-adm>
        </div>
        <div class="buttons">
            <button class="Cancel">Voltar</button>
            <button class="Confirm">Criar</button>
        </div>

    </div>
</div>