<div class="card">
    <div class="content">
        <h3 class="bold">R$ 13.000</h3>
        <div class="banner">
            <span class="bold-banner">Entre em Contato</span>
        </div>
        <div class="contato">
            <img src="assets/images/WhatsApp.webp" alt="" class="image">
            <span class="bold-card" style="margin-left: 10px;">(11) 94038-3975</span>
        </div>
        <div class="contato">
            <img src="assets/images/phone-call.webp" alt="" class="image">
            <span class="bold-card" style="margin-left: 10px;">(11) 94025-0807</span>
        </div>
        <div class="loja" >
            <img src="assets/images/PointerMap.webp" alt="" class="image">
            <span class="bold-card" style="margin-left: 10px;">Nossa loja</span>
        </div>
    </div>
</div>