.carousel-item img {
  object-fit: cover; /* Faz com que a imagem cubra todo o espaço sem distorcer */
  width: 100%; /* A largura da imagem ocupará 100% do contêiner */
  height: 100%; /* A altura da imagem ocupará 100% do contêiner */
}