.custom-width {
    width: 210px; /* Define a largura desejada */
  }
  
  .custom-width input {
    width: 100%; /* Faz o input ocupar toda a largura do mat-form-field */
  }
  
  .custom-width button {
    width: auto; /* Ajusta o botão de ícone ao conteúdo */
  }
  