@import '../src/assets/color/colors.scss';

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; //funciona para a font não expandir mais que o necessario
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
