@import '../../../../../styles.scss';

div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  width: 65px;
  height: 65px;
  border-radius: 15px;
  border: solid 1px black;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.7);
  background-color: rgb(255, 252, 248);
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
  }
}

div.active {
   top: 1px;
}

div.darkened {
    background-color: #dddd // Escurece o fundo enquanto darkened for true
}
